
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

:root {
  --foreground: #171717;
  --color-background: #FFFFFF;
  --color-primary-black: #0F1115;
  --color-accent-red: #E11D48;
  --color-subtle-gray: #334155;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: #FFFFFF;
  --color-primary-black: #0F1115;
  --color-accent-red: #E11D48;
  --color-subtle-gray: #334155;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-changa:"Changa One",sans-serif;
  --font-rubik:"Rubik",sans-serif;
  --font-inter:"inter",sans-serif;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
body {
  margin: 0;
  padding: 0;
} 
